.board {
  margin: 0;
  padding: 0;
}

#canvas {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #292929;
  box-shadow: inset 0 0 150px 0 #1d1d1d;
  cursor: cell;
}

#canvas-el {
  position: absolute;
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

#canvas.grabbing {
  cursor: grabbing;
}

#canvas.disabled {
  cursor: not-allowed;
}

.color-picker {
  display: none;
  flex-direction: column;
  text-align: left;
  background-color: #121212;
  border-radius: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  width: fit-content;
  padding: 16px;
  z-index: 200;
  gap: 16px;
  color: #eaeaea;
  font-size: 12px;
}

.closer {
  height: 18px;
  width: 18px;
  background-color: #ff4181;
  color: #202020;
  padding: 12px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.title {
  margin-top: 12px;
  margin-bottom: -12px;
  font-size: 16px;
  font-weight: 600;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.cancel {
  background-color: #ff4181;
}

.submit {
  background-color: #bb86fc;
}

.info-box {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  color: white;
  gap: 24px;
  bottom: 0;
  left: 0;
  padding: 12px 24px;
  background-color: #121212;
  font-size: 20px;
  text-transform: uppercase;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343434;
  border-radius: 12px;
  padding: 12px;
  font-size: 42px;
}

.paints--warning {
  color: #ff4181;
  animation: warning 1s infinite;
}

@keyframes warning {
  0% {
    color: #ff4181;
  }
  50% {
    color: #121212;
  }
  100% {
    color: #ff4181;
  }
}

.selected-cell {
  background-color: #1d1d1d;
  border-radius: 6px;
  text-align: left;
  padding: 8px;
  font-size: 14px;
}

.selected-cell td:nth-child(1) {
  color: #bb86fc;
  text-transform: uppercase;
}

.flexbox-fix input {
  color: #e5e5e5 !important;
  background-color: #121212;
  outline: #121212;
}

.name-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 100vh;
  width: 100vw;
  background-color: #121212;
}

.info-icon {
  cursor: pointer;
}

.info-icon:hover {
  transform: scale(1.1);
}

.greeting {
  width: 98vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  top: 0;
  left: 0;
  background-color: #121212;
  z-index: 100;
  font-size: 24px;
  padding: 12px 24px;
  text-transform: uppercase;
}

.about {
  position: absolute;
  display: none;
  top: 50px;
  width: 250px;
  height: 84vh;
  background-color: #121212;
  padding: 22px 12px;
  color: white;
  font-size: 14px;
}

.about.slideIn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 8px;
  right: 0;
}

.about-btn {
  align-self: center;
}
